.myDiv {
  /* background: linear-gradient(0deg, #3e1c1c, #c20909 50%, #3e1c1c );  */
  background: black;
  padding: 0;
  margin: auto;
  width: 100%;
}

html,
body {
  padding: 0;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  width: 100%;
}
    
* {
  box-sizing: border-box;
}

.tagLineArticle {
  background: black;
  margin: 0;
  padding: 0;
}

.bandLogoArticle {
  background: black;
  padding: 0;
  margin: 0;

}
  
.monthArticle {
  padding: 0;
  background: black;
  margin: auto;
  width: 80%;
}

.yearArticle {
  padding: 0;
  background: black;
  width: 80%;
  margin: auto;
}

.activeDateArticle {
  background: black;
}

.headerImg {
  position: relative;
  z-index: auto;
  left: 0%;
  width: 100%;
  opacity: 1;
  padding: 0;
  margin: 0;
}

.tableAvails {
  table-layout: auto;
  margin: auto;
  border-collapse: collapse;
  border: none;
  background-color: black;
  letter-spacing: 1px;
  font-family: sans-serif;
  width: 80%;
  height: 80px; 
}


.tableNude {
  table-layout: auto;
  margin: auto;
  border-collapse: collapse;
  border: none;
  background-color: black;
  letter-spacing: 1px;
  font-family: sans-serif;
  width: 80%;
  height: 70px; 
}

.thDateNude {
  border: solid black 1px;
  background: black;
  width: 16.6666%;
  height: 70px;
}

.thDayNude {
  border: solid black 1px;
  background: black;
  width: 16.6666%;
  height: 70px;

}

.tdUserNude {
  border: solid black 1px;
  background: black;
  width: 16.6666%;
  height: 70px;
  text-align: center;
}

.thHeadDate {
  font-size: 0.7em;
  border: solid black 1px;
  background: rgb(25, 25, 25);
  width: 16.6666%;
  height: 80px;

}

.thHeadDay {
  font-size: 0.7em; 
  border: 1px solid black;
  background: rgb(25, 25, 25);
  width: 16.6666%;
  height: 80px;

}

.thHeadUser {
  font-size: 0.7em;
  border: 1px solid black;
  background: rgb(25, 25, 25);
  width: 16.6666%;
  height: 80px;

}

.thDate {
  font-size: 0.8em;
  border: solid black 1px;
  background: rgb(50, 47, 47);
  width: 16.6666%;
  height: 80px;

}

.thDay {
  font-size: 0.8em;
  border: 1px solid black;
  background: rgb(72, 72, 72);
  width: 16.6666%;
  height: 80px;

}

.tdUser {
  border: 1px solid black;
  background: rgb(108, 107, 107);
  width: 16.6666%;
  height: 80px;
  text-align: center;

}

h1 {
  text-align: center;
  background: none;
  color: red;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 2em;
}

.h1TagLine {
  font-size: 15px;
  text-align: left;
  background: black;
  width: 100%;
  font-weight: normal;
  padding: 0;
  margin: 0;
  color: rgb(4, 4, 97);
}

h2 {
  text-align: center;
  color: white;
  margin: 0;
}

.h2Year{
  text-align: center;
  color: white;
}

.h2Month{
  text-align: center;
  color: white;
}

.buttonYear {
  font-weight: bold;
  align-self: center;
  align-items: center;
  border-radius: 5px;
  width: 50%;
  height: 66px;
  background-color: rgb(216,203,203);
  border: 1px solid black;
  position: relative;
  margin: auto;
  font-size: 1em;

}

.buttonYear:hover {
  outline: 2px solid rgb(180, 178, 178);
  }


.buttonMonth {
  font-weight: bold;
  width: 16.66666%;
  height: 66px;
  border-radius: 5px;
  background-color: rgb(216, 203, 203);
  border: 1px solid black;
 font-size: 1em;
}

.buttonMonth:hover {
outline: 2px solid rgb(180, 178, 178);
}

.myButtonUnlocked {
  font-size: 0.5em;
  background: linear-gradient(91.4deg, #2fb8ff 0%, #9eecd9 100%); 
  color: black;
  font-weight: bold;
  font-family: Segoe UI, sans-serif;
  width: 95%; 
  height: 55px;
  border: 0.5px solid black;
  border-radius: 30px;
  opacity: 1;
  
}

.myButtonUnlocked:hover{
  outline: 2px solid rgb(35, 96, 187);
}
  
.myButtonLocked {
  font-size: 0.5em;
  background: linear-gradient(91.4deg, #b54900 0%, #ff0505 100%); 
  padding: 0;  
  border: none;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-family: Segoe UI, sans-serif;
  width: 95%; 
  height: 55px;
  opacity: 1;
  outline: 1px solid black;

}

.myButtonLocked:hover {
  outline: 2px solid rgb(187, 96, 27);
}

.myButtonSetAllAvail {
  font-size: 0.7em;
  padding: 0;  
  border: none;
  border-radius: 5px;
  color: black;
  background: linear-gradient(91.4deg, rgb(105, 180, 105) 0%, rgb(52, 176, 52) 100%); 

  font-weight: normal;
  font-family: Segoe UI, sans-serif;
  width: 95%; 
  height: 60px;
  outline: 1px solid black;
  opacity: 1;

}

.myButtonSetAllAvail:hover {
  outline: 2px solid rgb(72, 97, 76);
}

.myButtonSetAllUnavail {
  font-size: 0.7em;
  padding: 0;  
  border: none;
  border-radius: 5px;
  color: white;
 
  background: linear-gradient(91.4deg, rgb(157, 3, 3) 0%, rgb(116, 40, 40) 100%); 

  font-weight: normal;
  font-family: Segoe UI, sans-serif;
  width: 95%; 
  height: 60px; 
  outline: 1px solid black;
  opacity: 1;

  }

.myButtonSetAllUnavail:hover {
  outline: 2px solid rgb(119, 69, 69);
}

.buttonAvail {
  font-size: 0.6em;
  background-color:green;
  color: white;
  font-weight: normal;
  font-family: Segoe UI, sans-serif;
  width: 95%;
  height: 75px;
  border: 1.5px solid black;
  border-radius: 5px;
  opacity: 0.95;
  padding: 1px 1px;
 }

.buttonAvail:hover {
  opacity:1;
  outline: 3px solid rgb(81, 230, 81);
}


.buttonUnavail {
  font-size: 0.7em;
  color: white;
  background-color:rgb(113, 5, 5);
  width: 95%;
  height: 75px;
  border: 1.5px solid black;
  opacity: 0.95;
  border-radius: 5px;
  padding: 1px 1px;


}

.buttonUnavail:hover {
  opacity: 1;
  outline: 3px solid rgb(255, 211, 220);
}

.buttonUndefined {
  color: none;
  background-color:none;
  height: 75px;
  border: none;
  opacity: 0;
}

/* @media (prefers-color-scheme: dark) {
html {
  color-scheme: dark;
}
body {
  color: white;
  background: black;
}
} */
