h1 {
  text-align: center;
  background: none;
  width: 100vw;
  /* height: 100vw; */
  }
  
.headerImg {
  position: relative;
  z-index: auto;
  left: 0%;
  width: 100vw;
  /* height: 100vw; */
  opacity: 1;
}

/* .mainDiv {
  background: solid black;
} */

.myDiv {
  background: linear-gradient(0deg, #3e1c1c, #c20909 50%, #3e1c1c ); 
  /* outline: solid black;
  border: solid black; */
  padding: 0;
  margin: 0;
  width: 100vw;
  /* height: 100vw; */
  color: white;
  font-family: Segoe UI;
}

  html,
  body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: rgb(41, 39, 39);
    color: white;
    width: 100vw;
    /* height: 100%; */
  }
  
  p {
  font-size: 10px;
  background: none;
  }
  
  a {
  color: inherit;
  text-decoration: none;
  }
  
  * {
  box-sizing: border-box;
  }

.tableNude {
  table-layout: fixed;
  margin: auto;
  border-collapse: collapse;
  border: none;
  background-color: none;
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: .8rem;
  width: 100%;
  width: 120px;
  height: 80px; 
  }
  
  .tableDefault {
  table-layout: fixed;
  margin: auto;
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  background-color: #696969;
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: .8rem;
  width: 100%;
  width: 120px;
  height: 80px; 
  }

th {
  border: 1px solid rgb(190, 190, 190);
  padding: 5px;
  width: 120px;
  height: 80px;    
}

.thNude {
  margin: auto;
  border: none;
  padding: 5px;
  width: 120px;
  height: 60px;    
}

th[scope="colDate"] {
  background-color: #696969;
  color: rgb(37, 32, 32);
  width: 120px;
  height: 80px;
}

th[scope="topRow"] {
  background-color: #696969;
  color: rgb(37, 32, 32);
  width: 120px;
  height: 80px;
  font-size: 16px;
  }
  
  
th[scope="rowDay"] {
  background-color: #2d2d30;
  height: 80px;
}

td {
text-align: center;
background-color: none;
width: 120px;
height: 60px;
border: 1px solid rgb(190, 190, 190);
padding: 5px;
}

.buttonYear {
  width: 66px;
  height: 66px;
  background-color: rgb(216,203,203);
  border: 1px solid black;
}

.buttonMonth {
  width: 79px;
  height: 66px;
  background-color: rgb(216, 203, 203);
  border: 1px solid black;
}

.myButtonUnlocked {
  background: linear-gradient(91.4deg, #2fb8ff 0%, #9eecd9 100%); 
  padding: 12px 12px; 
  border: none;
  border-radius: 30px;
  color: black;
  font-weight: bold;
  font-family: Segoe UI, sans-serif;
  width: 115px; 
  height: 55px;
  opacity: 0.95;
  outline: 1px solid black;
  /* border: 1px black; */
  }

  .myButtonUnlocked:hover{
    /* -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); */
    opacity: 1;
    outline: 2px solid black;
    color: rgb(118, 9, 9);
    }
  
  .myButtonLocked {
  background: linear-gradient(91.4deg, #b54900 0%, #ff0505 100%); 
  padding: 12px 12px; 
  border: none;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-family: Segoe UI, sans-serif;
  width: 115px; 
  height: 55px;
  opacity: 0.95;
  outline: 1px solid black;
  /* border: 1px black; */

  }

  .myButtonLocked:hover {
    opacity:1;
    outline: 2px solid black;
    color: rgb(241, 201, 201);
  }
  
  .myButtonSetAllAvail {
  padding: 2px 2px; 
  border: none;
  border-radius: 5px;
  color: black;
  background: rgb(124, 180, 124);
  font-weight: bold;
  font-family: Segoe UI, sans-serif;
  width: 115px; 
  height: 60px;
  outline: 1px solid black;
  opacity: 0.95;
  }

  .myButtonSetAllAvail:hover {
    opacity: 1;
    outline: 2px solid black;
    color: rgb(118, 9, 9);
  }
  
  .myButtonSetAllUnavail {
  padding: 2px 2px;  
  border: none;
  border-radius: 5px;
  color: black;
  background: rgb(228, 165, 165);
  font-weight: bold;
  font-family: Segoe UI, sans-serif;
  width: 115px; 
  height: 60px; 
  outline: 1px solid black;
  opacity: 0.95;
  }

  .myButtonSetAllUnavail:hover {
    opacity: 1;
    outline: 2px solid black;
    color: rgb(118, 9, 9);
  }
  
  
  
  .buttonAvail {
  color: white;
  background-color:green;
  width: 110px;
  height: 75px;
  border: 1.5px solid black;
  opacity: 0.95;
  }

  .buttonAvail:hover {
    opacity:1;
    outline: 4px solid rgb(81, 230, 81);
  }
  
  .buttonUnavail {
  color: white;
  background-color:red;
  width: 110px;
  height: 75px;
  border: 1.5px solid black;
  opacity: 0.95;
  }

  .buttonUnavail:hover {
    opacity: 1;
    outline: 4px solid rgb(255, 211, 220);
  }

  .buttonUndefined {
    color: white;
    background-color:rgb(102, 98, 98);
    width: 110px;
    height: 75px;
    border: none;
    }

  caption {
    padding: 10px;
    caption-side: bottom;
  }



/* .thNudeSlim {
margin: auto;
border: none;
padding: 5px;
width: 120px;
height: 80px;    
} */

/* th[scope="col"] {
background-color: #696969;
color: rgb(37, 32, 32);
width: 120px;
height: 80px;
} */



/* th[scope="colDay"] {
background-color: #696969;
color: rgb(37, 32, 32);
width: 120px;
height: 80px;
} */









/* .default {
color: blue;
background-color: yellow;
} */

/* .tableButton{
background-color: none;
border: none;
width: 115px;
height: 115px;
padding: none;
position: relative;
border-radius: 10%;
} */

/*td:first{
background-color: #4CAF50;
text-align: center;
color: black;
}
*/

/* tr:nth-child(even) {
  background-color: none;
} */

/* table {
table-layout: fixed;
margin: auto;
border-collapse: collapse;
border: 2px solid rgb(200, 200, 200);
letter-spacing: 1px;
font-family: sans-serif;
font-size: .8rem;
width: 100%;
width: 120px;
height: 80px; 
background-color: none;
} */



/* .emptyButton{
background-color: white;
border: 0px white;
border-collapse: collapse;
color: white;
padding: 5px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
width: 115px;
height: 115px;
} */



/* @media (prefers-color-scheme: dark) {
html {
  color-scheme: dark;
}
body {
  color: white;
  background: black;
}
} */
